@use '../utils/mixins' as *;

.active {
  color: var(--main-color);
  text-decoration: underline;
}

.menu {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5;

  &-scrolled {
    background-color: var(--background-color);
    transition: 0.5s;
  }

  &__addition {
    display: none;

    &-show {
      @include flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2.5rem;
      transition: 0.5s;
      padding-right: 1.2rem;
    }
  }

  &__block {
    @include flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    @include text(1.4rem, 400, 2.1rem);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    padding: 0;
  }

  &__fixed {
    @include flex;
    justify-content: flex-start;
    gap: 2rem;
  }

  &__logo {
    @include size(3.4rem, 8rem);
  }

  &__link:hover {
    color: var(--main-color);
    text-decoration: underline;
    transition: 0.3s;
  }

  &__form {
    @include flex;
    gap: 1rem;

    &-icon {
      @include size(1.8rem, 1.8rem);
    }

    &-input {
      background: none;
      border: none;
      color: var(--text-color);
      font-family: 'Oswald', sans-serif;
      @include text(1.4rem, 400, 2.1rem);
      letter-spacing: 0.04rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
