@use '../utils/mixins' as *;

.hero {
  position: relative;
  @include size(100%, 130rem);
  background-image: url(/assets/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    @include size(100%, 102rem);
    background-image: url(/assets/hero-img.png);
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    top: 0;
  }

  &__block {
    position: relative;
    width: 100%;
    top: 9.5rem;
    @include center;
    flex-direction: column;
  }

  &__info {
    @include center;
    flex-direction: column;
    gap: 47px;
    z-index: 2;
    font-family: 'Oswald', sans-serif;
    @include text(2rem, 400, 3rem);
    letter-spacing: 0.02rem;
  }

  &__title {
    position: relative;
    @include text(25rem, 300, 24.7rem);
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    z-index: 2;

    &-back {
      @include text(25rem, 300, 24.7rem);
      font-family: 'Cormorant', serif;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      z-index: -1;
      margin-left: 8%;
    }
  }
}
