@use '../utils/mixins' as *;

.order {
  position: relative;
  width: 100%;
  margin-bottom: 16rem;

  &::before {
    position: absolute;
    @include size(100%, 102rem);
    content: '';
    background-image: url(/assets/order-section.png);
    background-repeat: no-repeat;
    background-size: 45rem 84.5rem;
    background-position: left 4rem;
    z-index: 2;
  }

  &::after {
    position: absolute;
    @include size(30rem, 20rem);
    content: '';
    background-image: url(/assets/order-section-lover-flower.png);
    background-repeat: no-repeat;
    background-size: 30rem 20rem;
    background-position: center;
    right: 10%;
    top: 85%;
  }

  &__title {
    @include text(10rem, 400, 12rem);
    font-family: 'Cormorant', serif;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    margin-bottom: 6.5rem;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    gap: 11.5rem;

    &::before {
      content: '';
      position: absolute;
      top: -3rem;
      left: 4%;
      transform: translateX(-50%);
      width: 6.5rem;
      height: 1rem;
      background-color: var(--accent-color);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0.1rem;
      height: 44rem;
      background-color: var(--accent-color);
    }

    &-section {
      width: 26.5rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1.2rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &-title {
      @include text(3rem, 700, 4.5rem);
      color: var(--accent-color);
    }

    &-text {
      @include text(1.4rem, 400, 2.1rem);
      color: var(--text-color);
    }
  }
}
