@use '../../scss/utils/mixins' as *;

.instagram {
  padding: 20rem 0;
  background-image: url(/assets/social-section-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -6rem;

  &__block {
    position: relative;
    @include flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
  }

  &__title {
    position: absolute;
    top: -8rem;
    right: 10%;
    @include size(35rem, 15rem);
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 12rem;
    margin-right: 4rem;

    img {
      @include size(4rem, 4rem);
    }
  }
}
